@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body selection:bg-primary/30 selection:text-primary;
  }
}

@layer utilities {
  .glass-panel {
    background: rgba(34, 38, 43, 0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(143, 245, 255, 0.1);
  }
  
  .glow-text {
    background: linear-gradient(to right, #8ff5ff, #8596ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .light-leak {
    position: absolute;
    width: 400px;
    height: 400px;
    filter: blur(150px);
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
  }
  
  .sidebar-divider {
    height: 1px;
    background: linear-gradient(to right, transparent, #e06dff, transparent);
  }
}

.material-icons-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
